<!--this will include the header template from the partials-->
<% include partials/header %>

<h1> This is the home page with EJS app</h1>
<img src = "https://www.thisdogslife.co/wp-content/uploads/2017/08/Pomsky.jpg" height="300px" width="300px">

<!--this will include the footer template from the partials-->
<% include partials/footer %>